---
layout: default
---
{% include nav.html %}
<section class="page-section">


<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{% t timeline.title %}</h2>
            <h3 class="section-subheading text-muted">{% t timeline.text %}</h3>
        </div>
    </div>
    <div class="row">
    {% for event in site.translations[site.lang].timeline.events %}
    <section class="page-section">
    <div class="row">
    <div class="col-lg-4">
        <h4 class="subheading">{{ event.title }}</h4>
        <h5>{{ event.year | markdownify }}</h5>
    </div>
    <div class="col-lg-8">
        <div class="text-muted">{{ event.desc | markdownify }}</div> 
    </div>
    <section id="gallery" class="py-2">
  <div class="col-lg-12">
    <div class="row g-3">
      <!-- Ripeti questo blocco per ogni immagine -->
      <div class="col-md-4 col-sm-6">
        <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-img="assets/images/photo1.jpg">
          <img src="assets/images/photo1_thumb.jpg" class="img-fluid rounded shadow-sm" alt="Photo 1">
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-img="assets/images/photo2.jpg">
          <img src="assets/images/photo2_thumb.jpg" class="img-fluid rounded shadow-sm" alt="Photo 2">
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal" data-img="assets/images/photo3.jpg">
          <img src="assets/images/photo3_thumb.jpg" class="img-fluid rounded shadow-sm" alt="Photo 3">
        </a>
      </div>
      <!-- fine esempio -->
    </div>
  </div>
    </div>
    </section>
    {% endfor %}
    </div>
</div>  

</section>
  